@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
  --secondary: #828282;
  --backgroudColor: #E7E7E7;
  --buttonNotSelected: #D9D9D9;
  --buttonSelected: #9D9D9D;

}

body {
  background: var(--backgroudColor);
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 0.5;
  margin-left: 3rem;
  height: 50%;
}

figure {
  flex-grow: 3;
}

#enter-here-span  {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#enter-here-span legend {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--secondary);
}

h1 {
  font-size: 3.5rem;
}

input[type="text"]
{
  border-width: 0;
  width: 25rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 0.7rem;
  filter: drop-shadow(0 0 0.25rem #999);
}
input[type="text"]:focus{
  border-width: 0;
  outline: none;
}

span svg {
  width: 2.5rem;
  height: 2.5rem;
}

fieldset {
  border-width: 0;
  margin: 1rem;
}

#device-selection legend, #os-selection legend{
  font-size: 1.2rem;
  font-weight: 550;
  color: var(--secondary);

}

#radio-span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0.5rem;
}

#radio-span > label {
  padding: 0.5rem;
  position: relative;
  background: var(--buttonNotSelected);
  margin-right: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s;
} 

#radio-span input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background: var(--buttonSelected) !important;
}
.button-svg {
  width: 2rem !important;
  height: 2rem !important;
}

section {
  position: relative;
}

section fieldset {
  position: absolute;
  left:0;
  top:0;
  opacity:0;
  transition: opacity 1s, top 1s;
}


.shown {
  opacity: 1;
  top: 0;
}