@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: #E7E7E7;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

figure {
  flex-grow: 2;
}

