@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


/* Left align everything */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #e0e0e0;
  overflow: hidden;
}

main {
  width: 50%;
  padding: 0 20px;
  padding-left: 200px;
}

/* Style the search bar */
#prompt {
  width: 100%;
  font-size: 24px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #ccc;
  transition: border-color 0.2s ease-in-out;
}

#prompt:focus {
  border-color: #0077cc;
}

/* Style the devices */
#device-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.device-button {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #0077cc;
  background-color: #fff;
  border: 2px solid #0077cc;
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.device-button:hover {
  background-color: #0077cc;
  color: #fff;
}

/* Style the OS buttons */
#os-row {
  display: hidden;
  flex-wrap: wrap;
  margin-top: 20px;
}

.os-button {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #0077cc;
  background-color: #fff;
  border: 2px solid #0077cc;
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.os-button:hover {
  background-color: #0077cc;
  color: #fff;
}

.os-button.selected, .device-button.selected {
  background-color: #0077cc;
  color: #fff;
}

/* Style the showcase h1 */
.showcase h1 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

/*new*/
.showcase form {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.showcase form input,
form select {
  font-size: 20px;
  width: 500px;
  max-width: 500px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

form button {
  font-size: 20px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.2s ease-in-out;

}

form button:hover {
  transform: scale(1.05);
}

.hidden {
  display: none;
}


.msg {
  font-size: 1.6rem;
  text-align: left;
  margin-top: 1rem;
}

/* Loading Screen */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#loading-screen.show {
  display: flex;
}

#loading-screen h2 {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}